<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pessoa">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Pessoa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carona">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Carona</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorio">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
